Repository Alver23/real-estates: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run stylelint:fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "npm run lint:fix"
  ],
  "*.scss": [
    "npm run stylelint:fix"
  ]
}

Create commit.yml
  .github/workflows/commit.yml
Due: none

Create release.yml
  .github/workflows/release.yml
Due: none

Create ci.yml
  .github/workflows/ci.yml
Due: none

feat: added craco configuration, absolute imports, and tailwindcss
  .eslintignore
  craco.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/assets/scss/.gitkeep
  src/assets/scss/app.scss
  src/assets/scss/tailwind.scss
  src/index.tsx
  tailwind.config.js
  tsconfig.json
  tsconfig.paths.json
Due: npm run lint:fix, npm run stylelint:fix

feat: create the layout component
  .eslintrc
  craco.config.js
  jest.config.js
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  reports/jest.html
  src/App.scss
  src/App.tsx
  src/components/footer/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/footer/__tests__/index.spec.tsx
  src/components/footer/index.tsx
  src/components/layout/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/layout/__tests__/index.spec.tsx
  src/components/layout/index.tsx
  src/components/layout/interfaces/index.ts
  src/containers/.gitkeep
  src/containers/app/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/app/__tests__/index.spec.tsx
  src/containers/app/index.tsx
  src/index.tsx
  src/logo.svg
  src/pages/home/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/home/__tests__/index.spec.tsx
  src/pages/home/index.tsx
  src/routes/index.tsx
  tailwind.config.js
Due: npm run lint:fix, npm run stylelint:fix

feat: added logo of La Haus
  src/assets/images/.gitkeep
  src/assets/images/logo-desktop.svg
  src/assets/images/logo-mobile.svg
Due: none

feat: added notification bar component
  src/components/notification-bar/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/notification-bar/__tests__/index.spec.tsx
  src/components/notification-bar/index.tsx
Due: npm run lint:fix

feat: added NavBar component
  src/components/navbar/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/navbar/__tests__/index.spec.tsx
  src/components/navbar/index.tsx
  src/components/navbar/menu-config.ts
Due: npm run lint:fix

feat: added Header component
  src/components/header/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/header/__tests__/index.spec.tsx
  src/components/header/index.tsx
Due: npm run lint:fix

refactor: adjusted the position of the footer at the bottom of the screen
  src/components/footer/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/footer/index.tsx
Due: npm run lint:fix

feat: integration of the header, footer and navbar component in the layout
  src/components/header/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/layout/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/layout/index.tsx
  src/components/layout/interfaces/index.ts
  src/components/navbar/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/navbar/index.tsx
Due: npm run lint:fix

feat: cracco was installed, react icons and react router dom
  package-lock.json
  package.json
Due: none

feat: general adjusts
  public/index.html
  public/manifest.json
  reports/jest.html
  src/pages/home/index.tsx
  tailwind.config.js
Due: npm run lint:fix

refactor: added return type on function
  src/components/header/index.tsx
  src/components/navbar/index.tsx
  src/components/notification-bar/index.tsx
  src/containers/app/index.tsx
  src/reportWebVitals.ts
  src/routes/index.tsx
Due: npm run lint:fix

feat: added card component
  src/components/card/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/card/__tests__/index.spec.tsx
  src/components/card/index.tsx
  src/components/card/interfaces/index.ts
  src/components/layout/__tests__/__snapshots__/index.spec.tsx.snap
Due: npm run lint:fix

feat: added 'CardImages' component
  src/components/card-image/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/card-image/__tests__/index.spec.tsx
  src/components/card-image/index.tsx
  src/components/card-image/interfaces/index.ts
  src/components/card-images/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/card-images/__tests__/index.spec.tsx
  src/components/card-images/__tests__/mocks.json
  src/components/card-images/index.tsx
  src/components/card-images/interfaces/index.ts
  src/components/card-images/scss/index.scss
  src/components/card/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/card/index.tsx
Due: npm run lint:fix, npm run stylelint:fix

feat: service was added to obtain the real estate
  .eslintrc
  src/interfaces/real-estates/index.ts
  src/services/real-estates/__mocks__/real_estates.json
  src/services/real-estates/__tests__/index.spec.ts
  src/services/real-estates/commons/__tests__/__mocks__/mock.json
  src/services/real-estates/commons/__tests__/index.spec.ts
  src/services/real-estates/commons/index.ts
  src/services/real-estates/index.ts
  src/services/real-estates/interfaces/api/index.ts
  src/services/real-estates/interfaces/index.ts
Due: npm run lint:fix

refactor(CardImages): the error about the amount of remaining properties was fixed
  src/components/card-images/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/card-images/__tests__/index.spec.tsx
  src/components/card-images/index.tsx
  src/components/card-images/scss/index.scss
Due: npm run lint:fix, npm run stylelint:fix

feat: added font configuration Silka
  src/assets/fonts/silka-medium-webfont.woff2
  src/assets/fonts/silka-regular-webfont.woff2
  src/assets/fonts/silka-semibold-webfont.woff2
  src/assets/scss/app.scss
  src/assets/scss/font.scss
  tailwind.config.js
Due: npm run stylelint:fix

feat: added FavoriList container and fixed bug with header, main, and footer
  .eslintrc
  reports/jest.html
  src/commons/app/index.ts
  src/components/footer/index.tsx
  src/components/layout/index.tsx
  src/components/layout/scss/index.scss
  src/containers/favorites-list/index.tsx
  src/containers/favorites-list/scss/index.scss
  src/hooks/use-fetch/__tests__/index.spec.ts
  src/hooks/use-fetch/index.ts
  src/hooks/use-fetch/reducer/__tests__/index.spec.ts
  src/hooks/use-fetch/reducer/index.ts
  src/interfaces/real-estates/index.ts
  src/pages/home/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/home/index.tsx
  src/services/real-estates/__mocks__/real_estates.json
  src/services/real-estates/index.ts
Due: npm run lint:fix, npm run stylelint:fix

Updates
  asset-manifest.json
  favicon.ico
  index.html
  manifest.json
  robots.txt
  static/css/main.578d0872.chunk.css
  static/css/main.578d0872.chunk.css.map
  static/js/2.af76a48f.chunk.js
  static/js/2.af76a48f.chunk.js.LICENSE.txt
  static/js/2.af76a48f.chunk.js.map
  static/js/3.863cbb38.chunk.js
  static/js/3.863cbb38.chunk.js.map
  static/js/main.42a9bdd9.chunk.js
  static/js/main.42a9bdd9.chunk.js.map
  static/js/runtime-main.56e73f79.js
  static/js/runtime-main.56e73f79.js.map
  static/media/logo-desktop.fa93536c.svg
  static/media/logo-mobile.a5ddcc1b.svg
  static/media/silka-medium-webfont.d6eda153.woff2
  static/media/silka-regular-webfont.40c35ef9.woff2
  static/media/silka-semibold-webfont.95a36dd1.woff2
Due: none

feat: added FavoritiesList component
  .eslintrc
  .github/workflows/release.yml
  package-lock.json
  package.json
  public/index.html
  reports/jest.html
  src/components/card-images/interfaces/index.ts
  src/components/footer/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/header/__tests__/__snapshots__/index.spec.tsx.snap
  src/components/header/index.tsx
  src/components/layout/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/favorites-list/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/favorites-list/__tests__/index.spec.tsx
  src/containers/favorites-list/components/favority-detail/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/favorites-list/components/favority-detail/__tests__/index.spec.tsx
  src/containers/favorites-list/components/favority-detail/index.tsx
  src/containers/favorites-list/components/favority-detail/interfaces/index.ts
  src/containers/favorites-list/components/favority-new-list/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/favorites-list/components/favority-new-list/__tests__/index.spec.tsx
  src/containers/favorites-list/components/favority-new-list/index.tsx
  src/containers/favorites-list/hooks/__tests__/index.spec.ts
  src/containers/favorites-list/hooks/index.ts
  src/containers/favorites-list/index.tsx
  src/containers/favorites-list/scss/index.scss
  src/hooks/use-fetch/__tests__/index.spec.ts
  src/hooks/use-fetch/reducer/__tests__/index.spec.ts
  src/routes/index.tsx
  src/services/.gitkeep
  src/services/real-estates/__mocks__/real_estates.json
  src/services/real-estates/__tests__/index.spec.ts
  tailwind.config.js
Due: npm run lint:fix, npm run stylelint:fix

refactor: fixed bug file release.yml
  .github/workflows/release.yml
Due: none

refactor: the rule was turned off explicit-module-boundary-types
  .eslintrc
Due: none

deploy: 0883bad8519654ca5d67efac5323a24c4030d4dd
  .nojekyll
  asset-manifest.json
  index.html
  static/css/main.578d0872.chunk.css
  static/css/main.578d0872.chunk.css.map
  static/css/main.e140f1ae.chunk.css
  static/css/main.e140f1ae.chunk.css.map
  static/js/2.af76a48f.chunk.js
  static/js/2.af76a48f.chunk.js.map
  static/js/2.e63a73c3.chunk.js
  static/js/2.e63a73c3.chunk.js.LICENSE.txt
  static/js/2.e63a73c3.chunk.js.map
  static/js/main.42a9bdd9.chunk.js
  static/js/main.42a9bdd9.chunk.js.map
  static/js/main.d2c56eab.chunk.js
  static/js/main.d2c56eab.chunk.js.map
Due: none

chore(release): 0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: update readme.md
  README.md
Due: none

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: added sonarqube configuration
  .eslintignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci.yml
  .github/workflows/commit.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  gulpfile.js
  jest.config.js
  package-lock.json
  package.json
  reports/jest.html
  reports/test-report.xml
  sonar-project.properties
  src/components/card-images/scss/index.scss
  src/containers/favorites-list/scss/index.scss
  src/pages/home/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/home/index.tsx
Due: npm run lint:fix, npm run stylelint:fix

refactor: fixed bug in the release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

deploy: bc6d7a6f4cb5a6fa40003d95e1a7590d2f83dfda
  asset-manifest.json
  index.html
  static/css/main.e140f1ae.chunk.css
  static/css/main.e140f1ae.chunk.css.map
  static/css/main.ec32f90f.chunk.css
  static/css/main.ec32f90f.chunk.css.map
  static/js/main.33d054fa.chunk.js
  static/js/main.33d054fa.chunk.js.map
  static/js/main.d2c56eab.chunk.js
  static/js/main.d2c56eab.chunk.js.map
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: was delete badge version
  README.md
Due: none
